{
  "extends": "airbnb-base",
  "rules": {
    "no-param-reassign": "off",
    "class-methods-use-this": "off",
    "operator-linebreak": [
      "error",
      "after",
      { "overrides": { "?": "before", ":": "before" } }
    ]
  }
}
